body {
  background-color: #fff;
}

.container {
  position: block;
  background-color: #ffdcdc;
  padding: 30px;
  border-radius: 50px;
  border: 2px solid #ce1f6a;
  display: block;
  margin: 100 100 100 100;
}
header {
  left: 10%;
  top: 38%;
  position: absolute;
  display: block;
  border: none;
}
h1,
h2,
h3 {
  text-align: center;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1,
h2,
h4 {
  color: black;
  font-size: 30px;
}
.container-app {
  border: 2px solid #ce1f6a;
  padding: 40px;
  border-radius: 30px;
  padding-bottom: 20%;
}

p {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-control {
  color: black;
  margin: 0 auto;
}
button,
input {
  background: #ce1f6a;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  height: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.currentDay {
  margin: 0 auto;
  text-align: center;
}

.search-form {
  text-align: center;
}
